/* navbar */
.navbar
{
    display:flex;
    flex-direction:row;
    cursor:pointer;
}
/* navbar list*/
.navbar-list
{
    display:inline-block;
    margin-left:30px;
}


/* Dropdown span */
.dropspan {
    font-size: 20px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content ,.rightOpened-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
    z-index: 1;
  }
 
  
  /* Links inside the dropdown */
  .dropdown-content a , .rightOpened-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
 /* Change color of dropdown links on hover */
 .rightOpened-content a:hover {background-color: #ddd;}

 /* Change color of right Opened links on hover */
 .right-dropdown-content a:hover {display: block;}


  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

 /* Show the right dropdown menu on hover */
  .dropdown-content:hover .right-dropdown-content 
  {
  
      float:right;
  }
  
  /* Change the background color of the dropdown span when the dropdown content is shown */
  .dropdown:hover .dropspan {
      text-decoration: overline;
      text-decoration-color: red;
    }
    /* home sthle */
    .home{
        margin-left:400px;
        text-decoration: overline;
        text-decoration-color: red;
    }
    .fa-chevron-right{
        float:right;

    }
/* tbles design   */
.dicClassTable>tr>th {
    border:1px solid black;

}
/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/****************************************************cart first section ********************************************************************/
.h1Change{
    position: relative;
    left: 221px;
    font-size: 52px;
}
.page-title{
background-color: #f6f6f6;
height: 114px;

}
.dicClassTable{
    position: relative;
    left: 148px;
}
.dicClassTable tr td{
    border:1px solid #e5e5e5;

}
.dicClassTable tr td.product {
    border:1px solid #e5e5e5;
    width: 419.71px;
    padding: 7px;

}
.nameOfObject{
 

    position: relative;
    left: 139px;
    margin: 0;
    bottom: 73px;
}
table.dicClassTable th{
    background-color: #f6f6f7;
    border:1px solid #e5e5e5;

}
.nameOfObject h6{
    margin: 0;
    font-size: 16px;

}
.moveMoney{
    position: relative;
    left: 95px;
    bottom: 10px;
}
.moveInput{
    position: relative;

    width: 10px;
    left: 116px;    
    bottom: 10px;
}
.price ,.quantaty,.total{
    width:238px;
}
.movePlus{
    position: relative;
    left: 121px;
    bottom: 7px;
}
.moveMinus{
    position: relative;
    bottom: 7px;
    left: 113px;

}
.TableContainer{
    margin: auto;
    width: 90%;
}
/*************************************************** cart second section ***********************************************************/
.cartSection2{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  
}
.calculateShipping{
  border: rgba(119,119,119,.3) 1px solid;
  width: 47%;
  padding: 5px;
}
.states{
  display: block;
  width: 95%;
  height: 40px;
  margin: 15px auto;
  color: #777;
  border: 1px solid #e5e5e5;
  background-color: #f6f6f6;

}
.countries-postalCode{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.countries{
  width: 50%;
  height: 40px;
  color: #777;
  border: 1px solid #e5e5e5;
  background-color: #f6f6f6;
}
#postalCode{
  width: 45%;
  height: 35px;
  color: #777;
  border: 1px solid #e5e5e5;
  background-color: #f6f6f6;
  outline: none;
}
#updateTotal{
  overflow: hidden;
  float: right;
  width: 120px;;
  height: 40px;
  margin: 17px;
  background-color: #d22e2e;
    color: #fff;
    border: 2px solid #d22e2e;
  
 
}
.cartTolals{
  border: rgba(119,119,119,.3) 1px solid;
  width: 47%;
  padding: 10px;
}
.cartTolals ul{
  list-style-type: none;
  padding: 5px;
  color: red;
}
.cartTolals ul li{
  margin: 20px;
  font-size: 20px;
    font-weight: bold;
}
.cartTolals ul li span{
  float: right;
  color: #777;

}

/******************************************************************** footer *******************************************************/
.second-footer-div ul{
        list-style: none;
    }
    

